i {
    padding-top: 5px;
    padding-right: 4px;
    padding-left: 10px;
}

pre {
    color: #2A2A2A;
}

div {
    padding-top: 10px;
    padding-left: 10px;
}

footer {
    position: fixed;
    bottom: 0;
}

a {
    color: #2F5A90;
}