i {
    padding-right: 4px;
    padding-left: 10px;
}

pre {
    color: #2A2A2A;
}

div {
    padding-top: 1%;
    padding-left: 1%;
}

footer {
    position: absolute;
    bottom: 0;
    padding-left: 50%;
    text-align: center;
}

a {
    color: #2F5A90;
}